<script type="module" src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.11.0/d3.min.js"></script>
<script type="module" src="csv.js"></script>
<script src="chart-helpers.js"></script>
<script type="module" src="demo.js"></script>

<style>
circle{
    border: 1px solid black;
}
.passenger-1{
    fill: #42A5F5;
    stroke: black;
}
.passenger-2{
    fill: #FFEB3B;
    stroke: black;
}
.passenger-3{
    fill: #673AB7;
    stroke: black;
}
.passenger-4{
    fill: #26A69A;
    stroke: black;
}
.passenger-5{
    fill: #66BB6A;
    stroke: black;
}
.passenger-6{
    fill: #FF7043;
    stroke: black;
}
.passenger-7{
    fill: #ef5350;
    stroke: black;
}
.passenger-8{
    fill: #EC407A;
    stroke: black;
}
.passenger-9{
    fill: #CDDC39;
    stroke: black;
}
.passenger-10{
    fill: #C2185B;
    stroke: black;
}
</style>


<img src="https://78.media.tumblr.com/f4a651c919a9875665bd7760362cfab5/tumblr_o7mjmrAPnE1v33e53o1_400.gif" />
<label for="ux"> User Experience:<input id="ux" type="checkbox"></input>
</label>
<div>
<button onClick="demo.generateWithWorker()"> Generate with web-worker </button>
<button onClick="demo.generateWithoutWorker()"> Generate without worker </button>
</div>
<div style="height: 100px" id="log"></div>
<div id="loader" style="display: none"><img width="100" height="100" src="spinner.gif"/></div>
<div id="chart">
<svg
    width="800"
    height="800"
    id="chart-wrapper"
    >
    <g id="x-axis"></g>
    <g id="y-axis"></g>
    <g id="bubbles"></g>
</svg>
</div>